body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #b84283;
    height: 44vh;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 10;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
}

nav a:hover {
    text-decoration: underline;
}
figure {
    margin: auto;
    text-align: left;
}

h1 {
    font-size: 20px;
    text-align: left;
}

section {
    padding: 20px;
}

#curiosidades {
    padding: 8px;
    text-align: left;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.curiosidade {
    flex-basis: calc(50% - 30px);
    margin: 10px;
    text-align: center;  
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 20px solid white;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #b84283;
    color: white;
}

#habilidades {
    padding: 40px;
    background-color: #F0F0F0;
}
#Causos {
    padding: 40px;
    background-color: #F0F0F0;
}
footer {
    background-color: #b84283;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}